*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}

/* Welcome Page */

#main{
    width: 100%;
    height: 100%;
    background-color: black;
}
#main #nav{
    padding: 20px;
    display: flex;
} 
#nav #navl img{
    height: 25%;
    margin-left: 2%;
}
#main #nav a{
    color: #dadada;
    text-decoration: none;
    margin-right: 25px;
}
#main #nav a:hover{
    color: darkgrey;
    border-bottom: 1px solid darkgrey;
}
#welcome{
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#welcomel{
    width: 100%;
}
#welcomel h1{
    color: blanchedalmond;
    font-size: 75px;
    margin-left: 31%;
    margin-top: 20%;
    font-weight: 600;
}
#welcome img{
    width: 50%;
    margin-right: 10%;
    transform: rotate(15deg);
}
#welcomel button{
    margin-left: 33%;
    margin-top: 5%;
    border: 1px white solid;
    background-color: black;
    color: white;
    padding: 8px 22px;
}
#welcome button:hover{
    background-color: blanchedalmond;
    color: black;
}

/* About Us */
#about{
    width: 100%;
    height: 100%;
    background-color: black;
}
#inside{
    width: 75%;
    height: 75%;
    position: relative;
    display: flex;
    background-color: white;
    top: 8%;
    margin: auto;
}
#inside #about1{
    background-image: url("pexels-lumn-604969.jpg");
    background-size: cover;
    height: 100%;
    width: 50%;

}
#inside #about2{
    width: 50%;
    left: 50%;
}
#about2 h3{
    margin-left: 15%;
    margin-top: 20%
}
#about2 p{
    margin: 5% 15%;
}
#about2 #i1{
    height: 40%;
    position: relative;
    left: 60%;
    transform: rotate(-25deg);
}
#about2 #i2{
    height: 40%;
    position: relative;
    top: -35%;
    left: 65%;
    transform: rotate(-2deg);
}

/* Categories Section */

#categories{
    height: 100%;
    width: 100%;
    background-color: black;
}

